section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 290px;
    width: 100%;
    background-color: white;
}
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    
} 
.round {
    display: flex;
    position: relative;
    height: 65px;
    width: 65px;
    border: 1px solid #1275b9;
    border-radius: 100%;
    margin:auto auto;
    background-color: #2a69a6;
    
    
    
}
#first {
    background-color: white;
}


.item {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    margin: auto auto;
    cursor: pointer;
    
          
}

.item:hover {
    color: #2a69a6;
}
.round:hover {
    background-color: white;
    transition: 1s all;
}


.main {
    font-family: ProximaNova;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
    margin: 20px auto 20px;
}
.text {
    width: 220px;
    height: 55px;
    font-family: ProximaNova;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #9d9d9d;
    margin: 0 auto;
}